* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  text-align: center;
}
.main .banniere {
  position: relative;
  width: 100%;
  margin-bottom: -10px;
}

nav {
  width: 100%;
  text-align: center;
  left: 0;
  background-color: red;
}

.top-nav {
  position: fixed;
  top: 0;
}

/* .bottom-nav {
  position: absolute;
  bottom: 0;
} */

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  font-size: 1.5em;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

li a:hover {
  color: black;
}

.bottom-nav li .icon {
  display: none;
}

.toggleNav {
  display: none;
}
h1 {
  margin-top: -250px;
}

/* §§§§§§§§§§§§§§§§§§§§§§  RESPONSIVE §§§§§§§§§§§§§§§§§§§§§§§§§ */

/* Pour les petits écrans (largeur <= 600px) */
@media screen and (max-width: 600px) {
  /* Masquer tous les éléments li du menu burger sauf le dernier */
  #burger ul li:not(:last-child) {
    display: none;
  }

  /* Afficher l'icône du menu burger (assurez-vous que l'icône est présente dans le HTML) */
  #burger .icon {
    display: block;
    color: white;
  }

  /* Ajuster la présentation du menu burger */
  #burger.responsive {
    position: relative;
  }

  #burger.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  #burger.responsive ul li {
    float: none;
    display: block;
    text-align: center;
  }

  /* Ajuster le style du titre h1 */
  h1 {
    margin-top: -350px;
  }
}
